*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/gradle
/.idea
/nutClass/.idea
/nutClass/build
/nutClass/gradle
/nutClass/local.properties
/nutClass/.apk
